<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color bg-warning">
    <a class="navbar-brand text-dark" href="#">MUJER<br>EMPRENDEDORA</a>
    
    <div class=" d-flex flex-row-reverse bd-highlight" id="navbarSupportedContent-333">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink= "/loan/calculate">PIDE TU PRESTAMO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink= "/contacts-network">RED DE CONTACTOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink= "/growth-bussiness">HAZ CRECER TU NEGOCIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">INICIAR SESION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">REGISTRATE</a>
        </li>

      </ul>
      
    </div>
  </nav>
  <!--/.Navbar -->
