<section class="row info-emprededora">
      <div class="pasos">
        <div class="pasitos">
            <div class="circle circle-color"><img class="img-check" src="../../../../assets/img/marca.png" alt=""></div>
            <label class="label-steps">Calcula tu préstamo</label>
        </div>
        <div class="pasitos">
            <div class="circle circle-color">2</div>
            <label class="label-steps text-choose">Ingresa tus datos</label>
        </div>
        <div class="pasitos">
            <div class="circle">3</div>
            <label class="label-steps">Compara préstamos</label>
        </div>
        <div class="pasitos">
            <div class="circle">4</div>
            <label class="label-steps">Solicita tus préstamo</label>
        </div>
        <div class="pasitos">
            <div class="circle">5</div>
            <label class="label-steps">Recibe tu préstamo</label>
        </div>
      </div>
  </section>

<section class="row info-emprededora">
  <h2>INGRESA TUS DATOS</h2>
  <div class="">
    <div>
        <input name="first-name" placeholder="Nombre">    
    </div>
    <div>
      <input name="last-name" placeholder="Apellido">    
    </div>
  </div>

  <div class="">
    <div>
        <input name="email" placeholder="Email">    
    </div>
    <div>
      <input name="DNI" placeholder="DNI">    
    </div>
  </div>

  <div class="">
    <div>
        <input name="phone" placeholder="Celular">    
    </div>
    <div>
      <input name="RUC" placeholder="RUC">    
    </div>
  </div>

  <div class="">
    <div>
        <input name="password" placeholder="Contraseña">    
    </div>
    <div>
      <label><input type="checkbox" name="isClient"> NO SOY CLIENTE VISANET</label>    
    </div>
  </div>

  <div class="">
    <button routerLink="/subpages/loan/compare"  (click)= "sendPersonalData()"> Solicitar</button>
  </div>
</section>