ul
    list-style: none

.text-navbar
    font-size: 11px

a
 color: #fff


.margin-nav
    margin: 0px 40px

.color-choose-1
    color: #c50a5b

.navbar-dark .navbar-nav .active>.nav-link, 
    color: #c50a5b
    font-weight: bold;

.navbar-dark .navbar-nav .nav-link 
    color: white
    font-weight: bold;