  <nav class="navbar navbar-expand-lg navbar-dark bg-warning fixed-top margin-nav">
      <div class="container">
        <a class="navbar-brand text-dark font-weight-bold" href="#">MUJER<br>EMPRENDEDORA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-navbar" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link color-choose-1" routerLink="/subpages/loan/calculate">PIDE TU PRESTAMO
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/subpages/contacts-network">RED DE CONTACTOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/subpages/growth-bussiness">HAZ CRECER TU NEGOCIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/">INICIAR SESION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/">REGISTRATE</a>
              </li>
          </ul>
        </div>

<!--Navbar -->
<!-- <nav class="mb-1 navbar navbar-dark default-color bg-warning">
    <a class="navbar-brand text-dark d-flex flex-row font-weight-bold" href="#">MUJER<br>EMPRENDEDORA</a>
    
    <div class="bd-highlight text-navbar" id="navbarSupportedContent-333">
      <ul class="d-flex flex-row-reverse mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink= "/loan/calculate">PIDE TU PRESTAMO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink= "/contacts-network">RED DE CONTACTOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink= "/growth-bussiness">HAZ CRECER TU NEGOCIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">INICIAR SESION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">REGISTRATE</a>
        </li>
      </ul>
      
    </div>
  </nav> -->
  <!--/.Navbar -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-warning fixed-top margin-nav">
    <div class="container">
      <a class="navbar-brand text-dark font-weight-bold" href="#">MUJER<br>EMPRENDEDORA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-navbar" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">PIDE TU PRESTAMO
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">RED DE CONTACTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">HAZ CRECER TU NEGOCIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">INICIAR SESION</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">REGISTRATE</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>