<header class="padding container">
        <div class="container nav-app navbar navbar-expand-lg">
            <a class="navbar-brand text-dark -weight-bold padding-logo" href="#">MUJER<br>EMPRENDEDORA</a>
            <ul class="navbar-nav ml-auto text-header">
                <li class="nav-item">
                    <a class="nav-link" href="#">INICIAR SESION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">REGISTRATE</a>
                </li>
            </ul>
        </div>
        <div class="col-5 margin-top">
            <h1 class="display-3">TE AYUDAMOS A HACER TUS<br><span class="text-highlight">SUEÑOS</span> POSIBLES</h1>
            <a href="#" class="btn btn-outline-danger btn-lg btn-services">CONOCE NUESTROS SERVICIOS</a>
        </div>  
</header>

<section class="container">
    <div class="row justify-content-center">
            <h1 class="text-highlight col-lg-9 col-md-8 text-main">"La plataforma colaborativa que busca el empoderamiento
                    femenino mediante el crecimiento económico de las mujeres emprendedoras"</h1>
            <h2 class="text-dark col-lg-6 col-md-6 text-main-second text-main">¿QUÉ ENCONTRARÉ EN JUNTAS?</h2>
    </div>
        <div class="row d-flex justify-content-around">
            <div class="col-md-4 col-lg-3 mb-5">
              <div class="card h-100">
                <img class="card-img-top" src="../assets/img/step1.png" alt="">
                <div class="card-body">
                  <p class="card-text font-weight-bold">Podrás solicitar préstamos accesibles
                      y sin tantospapeleos.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-5">
              <div class="card h-100">
                <img class="card-img-top" src="../assets/img/step2.png" alt="">
                <div class="card-body">
                  <p class="card-text font-weight-bold">Encontrarás colaboradores y proveedores de confianza para tu negocio.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-5">
              <div class="card h-100">
                <img class="card-img-top" src="../assets/img/step3.png" alt="">
                <div class="card-body">
                  <p class="card-text font-weight-bold">Informacion para hacer crecer tu negocio, tips y recomendaciones.</p>
                </div>
              </div>
            </div>
          </div>
        <div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <h2 class="text-dark col-lg-6 col-md-6 text-main-second text-main">NUESTROS SERVICIOS</h2>
        </div>
        <div>
            <!-- Project One -->
            <div class="row justify-content-center">
              <div class="col-md-6 col-lg-6 padding-services">
                  <img class="img-fluid" src="../assets/img/girl.jpg" alt="">
              </div>
              <div class="col-md-6 col-lg-6 card-services">
                  <div class="article">
                <h3 class="text-warning title">PIDE UN PRÉSTAMO PARA TU NEGOCIO</h3>
                <p class="text-light bottom">Encuentra préstamos a tu medidad, sin tantos requisitos y de forma rápida</p>
                <a class="btn btn-outline-warning text-warning" href="#">PIDE TU PRÉSTAMO</a>
              </div>
            </div>
            </div>
            <!-- /.row -->
      
            <!-- Project Two -->
            <div class="row">
                <div class="col-md-6 col-lg-6 card-services">
                    <div class="article">
                    <h3 class="text-warning title">ENCUENTRA UN PERSONAL DE CONFIANZA</h3>
                    <p class="text-light bottom">Ingresa tu perfil, cuentanos que necesitac
                        (proveedores, colaboradores) y te conectamos
                        con la persona ideal para tu negocio.
                    </p>
                    <a class="btn btn-outline-warning text-warning" href="#">INCREMENTA TU RED DE CONTACTOS</a>
                </div>
                </div>
              <div class="col-md-6 col-lg-6 padding-services">
                  <img class="img-fluid" src="../assets/img/girl2.jpg" alt="">
              </div>
            </div>
            <!-- /.row -->
      
            <!-- Project Three -->
            <div class="row">
              <div class="col-md-6 col-lg-6 padding-services">
                  <img class="img-fluid" src="../assets/img/girl3.jpg" alt="">
              </div>
              <div class="col-md-6 col-lg-6 card-services">
                  <div class="article">
                    <h3 class="text-warning title">HAZ CRECER TU NEGOCIO</h3>
                    <p class="text-light bottom">Te brindamos informacion del sector de tu negocio
                        y te recomendamos soluciones para hacerlo crecer.</p>
                    <a class="btn btn-outline-warning text-warning" href="#">HAZ CRECER TU NEGOCIO</a>
                </div>
                  </div>
            </div>
            <!-- /.row -->
    
        </div>
     </div>
<!-- /.container -->

    <div class="container">
        <div class="row justify-content-center">
            <h2 class="text-dark col-lg-8 col-md-6 text-main-second text-main">Y TAMBIÉN TE OFRECEMOS SOLUCIONES PARA INCREMENTAR TUS VENTAS</h2>
        </div>

        <div class="row bottom">
                <div class="col-md-4 mb-5">
                    <div class="center">
                      <a href="#" class="btn btn-warning btn-padding">VENDO POR FACEBOOK</a>
                    </div>
                  <div class="card h-100 border-card">
                    <img class="card-img-top" src="../assets/img/footer1.png" alt="">
                  </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="center">
                      <a href="#" class="btn btn-warning btn-padding">TENGO UNA TIENDA FÍSICA Y QUIERO CRECER CRECER</a>
                    </div>
                  <div class="card h-100 border-card">
                    <img class="card-img-top" src="../assets/img/footer2.png" alt="">
                  </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="center">
                      <a href="#" class="btn btn-warning btn-padding">BUSCO SERVICIOS DE VALOR AGREGADO</a>
                    </div>
                  <div class="card h-100 border-card">
                    <img class="card-img-top" src="../assets/img/footer3.png" alt="">
                  </div>
                </div>
              </div>

    </div>
</section>

<footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">VISANET PERU Your Website 2019</p>
        </div>
        <!-- /.container -->
      </footer>
<router-outlet></router-outlet>
