<section class="row info-emprededora">
  <div class="pasos">
    <div class="pasitos">
        <div class="circle circle-color"><img class="img-check" src="../../../../assets/img/marca.png" alt=""></div>
        <label class="label-steps text-choose">Calcula tu préstamo</label>
    </div>
    <div class="pasitos">
        <div class="circle circle-color"><img class="img-check" src="../../../../assets/img/marca.png" alt=""></div>
        <label class="label-steps text-choose">Ingresa tus datos</label>
    </div>
    <div class="pasitos">
        <div class="circle circle-color">3</div>
        <label class="label-steps text-choose">Compara préstamos</label>
    </div>
    <div class="pasitos">
        <div class="circle">4</div>
        <label class="label-steps">Solicita tus préstamo</label>
    </div>
    <div class="pasitos">
        <div class="circle">5</div>
        <label class="label-steps">Recibe tu préstamo</label>
    </div>
  </div>
</section>
